@font-face {
    font-family: "overpass";
    src: url(../fonts/Overpass-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "overpass" ;
}
img,
input {
    width: 100%;
    vertical-align: bottom;
}
a,
li {
    text-decoration: none;
    list-style-type: none;
}
/* header */
#hero {
    position: relative;
}
#navbar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: end;
    right: 1rem;
    top: 1rem;
}
/* burger */
#burger {
    display: flex;
    width: 2.5rem;
    border: solid 1px lightgrey;
    padding: .25rem .3rem;
}
.active{
    background-color: grey;
    transition: .4s;
}
#menu{
    position: absolute;
    top: 3.9rem;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    li{
        font-weight: bold;
        color: grey;
        padding: .5rem 0;
        padding-left: .5rem;
    }
    li:hover{
        background-color: lightgrey;
        transition: .4s;
        outline: solid 1px black;
    }
}
/* heroImg */
#heroImg {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
#titre {
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    h1 {
        font-size: 43px;
    }
    h2 {
        font-size: 17px;
    }
}
/* location */
#rent {
    width: 95%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
}
#rentAdress{
    display: flex;
    justify-content: center;
}
#adress {
    width: 97.5%;
    padding: .35rem 0;
    padding-left: .25rem;
    font-size: 11px;
    margin-top: .5rem;
    border: none;
    border-radius: 5px;
}
.calendar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    padding-left: .4rem;
    font-size: 11px;
    margin: 1rem 0rem 0 0rem;
    width: 97.5%;
    align-items: center;
    border-radius: 5px;
    .icon{
        background-color: rgb(190, 190, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        border-radius: 0 5px 5px 0;
    }
}
#inputBtn{
    margin-top: .5rem;
    input{
        padding: .7rem 0;
        background-color: rgba(52, 165, 52, .6);
        color: white;
        border: none;
        cursor: pointer;
    }
}
/* main */
#filtre{
    display: flex;
    justify-content: space-between;
    width: 95%;
    justify-self: center;
    padding-top: 2rem;
    select{
        padding: .5rem 0;
        border: none;
        border-radius: 5px;
        background-color: rgb(237, 237, 237);
    }
}
#articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 95%;
    padding: 2rem 0;
    border-bottom: solid 1px lightgrey;
}
.card div:first-child{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width:80%;
        align-self: center;
        justify-self: center;
    }
    i{
        cursor: pointer;
    }
}
.card div{
    h2{
        display: none;
    }
    p{
        display: none;
    }
    button{
        background-color: #7CC07C;
        color: white;
        border: none;
        padding: .5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
}
/* footer */
#fcontainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#footerImg{
    width: 120px;
    margin-right: 3rem;
}
footer span{
    font-weight: bold;
}
@media screen and (min-width:576px) {
    #rent{
        flex-wrap: wrap;
        width: 80%;
        margin-top: 20rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #rentAdress{  
        width: 32%;
        margin: unset;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    #adress{
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    #inputBtn{
        margin-top: unset;
        width: 100%;
    }
    .calendar{
        width: 32%;
        margin: unset;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
}
@media screen and (min-width: 1024px) {
    /* adresslocation */
    #rent{
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 19rem;
    }
    .calendar{
        width: 20%;
        margin: 0 1rem;
    }
    #rentAdress{
        width: 20%;
        margin: .25rem .5rem .25rem 0;
    }
    #adress{
        margin-left: .5rem;
        margin-top: unset;
    }
    #inputBtn{
        width: 25%;
        margin-top: unset;
        input{
            padding: .8rem;
        }
    }
    /* card */
    #filtre{
        width: 60%;
    }
    .card{
        width: 60%;
    }
    .card div{
        h2{
            display: block;
            margin-bottom: 1rem;
        }
        p{
            display: block;
            margin-bottom: 1rem;
        }
        button{
            display: block;
        }
    }
}